html {
  background-image: url("food.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: auto;
}
.body1 {
  width:100%;
  padding: 10% 0;
  margin: auto;
  text-align: center;
}
.tastebutton {
  background-color: gray;
  border: none;
  color: white;
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 100%;
  font-weight: bolder;
  font-family: sans-serif;
  margin: 2% 1%;
  cursor: pointer;
  border-radius: 20px;
}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #A9A9A9;
  border: none;
  color: white;
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  font-weight: bolder;
  font-family: sans-serif;
  margin: 1% 1%;
  cursor: pointer;
  border-radius: 20px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  padding: 5% 5%;
  margin: 0 30px;

}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.recipeking{
  font-family: serif ;
  font-size: 70px;
  padding: 30px 0;
  color: white;
}
.rk{
  width: 90%;
  margin: auto;
  border-radius: 30px;

}
